<div class="quiz">
  <article class="message is-info">
    <div class="message-header">
      <p>Personal Styles</p>
    </div>
    <div class="message-body content">
      <p>Which of these statements best describes your personal style at work?</p>
      <p>In each pair, check one answer.</p>
    </div>
  </article>

  <div class="columns is-multiline">
    <div class="column is-one-quarter"
         *ngFor="let question of listed_questions">
      <div class="box buttons" [ngClass]="{'is-unanswered': question.selectedAnswer === undefined}">
        <button class="button is-fullwidth"
                (click)="selectAnswer(question, answer)"
                [ngClass]="{'is-primary': answer === question.selectedAnswer}"
                *ngFor="let answer of question.question.variants">{{answer.text}}
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal" [ngClass]="{'is-active': modal_is_opened}">
  <div class="modal-background"></div>
  <div class="modal-content quiz-result-modal-body">
    <app-quiz-result-chart *ngIf="result_is_available" [quiz_result]="result"></app-quiz-result-chart>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>

<div class="quiz-stats-bar">
  <div class="container">
    <progress class="progress is-success is-medium" value="{{completion_percentage}}" max="100"></progress>

    <div class="columns is-mobile">
      <div class="column is-four-fifths">{{answered_question_cnt}} of {{listed_questions.length}} answered</div>
      <div class="column is-one-fifth">
        <button class="button is-success is-pulled-right" (click)="showResults()">
          Show my results
        </button>
      </div>
    </div>
  </div>
</div>
