.quiz .button {
  white-space: initial;
  height: auto;
}

.quiz-stats-bar {
  padding: 20px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
  bottom: 0;
  background-color: #0a0a0a;
  color: #fff;
}

.quiz-result-modal-body {
  height: 90vh !important;
  max-height: 600px;
  max-width: 600px;
}
